[submodule "deepstream_libraries"]
	path = deepstream_libraries
	url = https://github.com/NVIDIA-AI-IOT/deepstream_libraries.git
	branch = main
[submodule "src/apps/tao_apps/apps/tao_others/deepstream-nvocdr-app/nvocdr"]
	path = src/apps/tao_apps/apps/tao_others/deepstream-nvocdr-app/nvocdr
	url = https://github.com/NVIDIA-AI-IOT/NVIDIA-Optical-Character-Detection-and-Recognition-Solution.git
[submodule "tools/inference_builder"]
	path = tools/inference_builder
	url = https://github.com/NVIDIA-AI-IOT/inference_builder.git
[submodule "tools/auto-magic-calib"]
	path = tools/auto-magic-calib
	url = https://github.com/NVIDIA-AI-IOT/auto-magic-calib
	branch = main
